@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  /* header */
  .header {
    padding: 30px 0;
  }

  .header__href {
    margin: 0;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 1;
  }

  .burger__line {
    position: absolute;
    height: 3.65px;
    left: 0;
    background-color: #fff;
  }

  .burger__line:nth-child(1) {
    width: 36px;
    transform: translateY(-12px);
  }

  .burger__line:nth-child(2) {
    width: 28.2px;
  }

  .burger__line:nth-child(3) {
    width: 24px;
    transform: translateY(11px);
  }

  .header__nav {
    display: none;
  }

  .header__login {
    display: none;
  }

  .header__search {
    display: block;
  }

  .header__search svg {
    width: 30px;
    height: 29px;
  }

  /* main */
  .main {
    background-image: url(../img/main/size-1024/main-background-img_1_1024.png);
  }

  .main__menu {
    display: none;
  }

  .main__content {
    padding: 105px 0;
  }

  .main__content-head {
    margin-bottom: -10.5px;
  }

  .main__content-content {
    max-width: 80%;
    margin-bottom: 133px;
  }

  .main__content-btn {
    margin-bottom: 9.5px;
  }

  /* about-us */
  .about-us__content {
    max-width: 100%;
  }

  /* gallery */
  .gallery {
    background-image: url(../img/main/size-1024/gallery-background-img_1024.png);
  }

  .gallery__drop-list-choice {
    min-width: 280px;
  }

  .gallery__drop-list {
    margin-bottom: 106px;
  }

  .gallery__checkbox {
    margin-bottom: 35px;
  }

  .gallery__item {
    min-width: 100px;
  }

  .gallery__item:not(:last-child) {
    margin-right: 34px;
  }

  .gallery__item:nth-child(3) {
    display: none;
  }

  /* catalog */
  .catalog__content {
    max-width: 100%;
  }

  .catalog__left {
    min-width: 437px;
  }

  .catalog__left-years {
    margin-bottom: 16px;
  }

  .catalog__item {
    min-width: 437px;
  }

  .catalog__years__content {
    height: 435px;
  }

  .catalog__years__content__list {
    display: none;
  }

  .catalog__years__content__item:not(:last-child) {
    margin-right: 55px;
  }

  /* events */
  .events {
    margin-bottom: 120px;
  }

  .events__card:not(:last-child) {
    margin-right: 27px;
  }

  .events-card__img {
    min-width: 290px;
    min-height: 200px;
  }

  .events-card__body {
    padding: 13px 32px;
    max-width: 290px;
    padding-bottom: 46px;
  }

  .card-body__wrap {
    margin-bottom: 23px;
  }

  .card-body__list {
    text-align: right;
    margin-bottom: 3px;
  }

  .card-top__place {
    margin-bottom: 2px;
  }

  .card-body__wrap-head {
    width: 100%;
    margin-bottom: 5px;
  }

  /* project */
  .project__content {
    max-width: 100%;
    margin-bottom: 21px;
  }

  .partners__btn-left {
    margin-right: 23px;
  }

  .partners__btn-right {
    margin-left: 23px;
  }

  .partners__item {
    width: 384px;
    height: 128px;
  }

  .partners__item:nth-child(2) {
    margin-right: 0;
  }

  .partners__item:last-child {
    display: none;
  }

  .project__partners__href .partners__freelands {
    width: 210px;
    height: 52px;
  }

  .project__partners__href .partners__ica {
    width: 283px;
    height: 49px;
  }

  /* contacts */
  .contacts__container {
    display: block;
  }

  .contacts__wrap {
    margin-bottom: 30px;
  }

  .contacts__head {
    margin-bottom: 15px;
  }

  .contacts__address {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__form {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .form__btn {
    padding: 11px 40px;
  }

  .contacts__social__wrap a:not(:last-child) {
    margin-right: 14px;
  }

  /* footer */
  .footer {
    padding: 45px 0;
  }

  .footer-socila__vk {
    width: 60px;
    height: 60px;
  }

  .footer-social__ok {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 768px) {

  /* header */
  .header__logo {
    width: 187.6px;
    height: 40px;
  }

  .header__search svg {
    width: 25px;
    height: 25px;
  }

  /* main */
  .main {
    background-image: url(../img/main/size-768/main-background-img_1_768.png);
  }

  .main__content-content {
    max-width: 100%;
  }

  .about-us__content {
    width: 150%;
  }

  /* gallery */
  .gallery {
    background-image: url(../img/main/size-768/gallery-background-img_768.png);
  }

  .gallery__container {
    display: block;
  }

  .gallery__left-block {
    margin-bottom: 40px;
  }

  .gallery__drop-list {
    margin-bottom: 40px;
  }

  .gallery__checkbox {
    position: relative;
  }

  .pages {
    margin-left: 0;
  }

  .gallery__item {
    min-width: 315px;
    min-height: 330px;
  }

  .gallery__item:not(:last-child) {
    margin-right: 38px;
  }

  /* catalog */
  .catalog {
    margin-bottom: 80px;
  }

  .catalog__content {
    margin-bottom: 20px;
  }

  .catalog__wrap {
    flex-direction: column-reverse;
  }

  .catalog__left-img {
    margin-bottom: 20px;
  }

  .catalog__left-years {
    margin-bottom: 8px;
  }

  .catalog__list {
    margin-bottom: 47px;
  }

  .catalog__years__content {
    height: 335px;
  }

  /* events */
  .events__card:last-child {
    display: none;
  }

  .events__card:not(:last-child) {
    margin-right: 35px;
  }

  .events-card__img {
    min-width: 317px;
    min-width: 200px;
  }

  .events-card__body {
    min-width: 317px;
    padding: 14px 18px 48px 34px;
  }

  .card-body__wrap-head {
    max-width: 95%;
  }

  .card-body__wrap-text {
    max-width: 95%;
    margin-bottom: 30px;
  }

  /* project */
  .project__content {
    max-width: 100%;
    margin-bottom: 28px;
  }

  .partners__head {
    margin-bottom: 29px;
  }

  .partners__item {
    max-width: 263.8px;
    max-height: 106px;
  }

  .partners__item:first-child {
    margin-right: 34px;
  }

  .partners__freelands {
    min-width: 210px;
    min-height: 52px;
  }

  .partners__ica {
    max-width: 217px;
    max-height: 38px;
  }

  /* contacts */
  .contacts__wrap {
    margin-bottom: 30px;
  }

  .contacts__form {
    display: block;
  }

  .form__wrap {
    margin-bottom: 12px;
  }

  .form__input {
    min-width: 323px;
  }

  .form__btn {
    padding: 10px 29px;
  }

  /* footer */
  .footer {
    padding: 48px 0;
  }
}