@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  /* header */
  .header {
    padding: 30px 0;
  }

  .header__href {
    margin: 0;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 1;
  }

  .burger__line {
    position: absolute;
    height: 3.65px;
    left: 0;
    background-color: #fff;
  }

  .burger__line:nth-child(1) {
    width: 36px;
    transform: translateY(-12px);
  }

  .burger__line:nth-child(2) {
    width: 28.2px;
  }

  .burger__line:nth-child(3) {
    width: 24px;
    transform: translateY(11px);
  }

  .header__nav {
    display: none;
  }

  .header__login {
    display: none;
  }

  .header__search {
    display: block;
  }

  .header__search svg {
    width: 30px;
    height: 29px;
  }

  /* main */
  .main {
    background-image: url(../img/main/size-1024/main-background-img_1_1024.png);
  }

  .main__menu {
    display: none;
  }

  .main__content {
    padding: 105px 0;
  }

  .main__content-head {
    margin-bottom: -10.5px;
  }

  .main__content-content {
    max-width: 80%;
    margin-bottom: 133px;
  }

  .main__content-btn {
    margin-bottom: 9.5px;
  }

  /* about-us */
  .about-us__content {
    max-width: 100%;
  }

  /* gallery */
  .gallery {
    background-image: url(../img/main/size-1024/gallery-background-img_1024.png);
  }

  .gallery__container {
    min-height: auto;
  }

  .gallery__left-block {
    width: 96%;
    margin-right: 51px;
  }

  .gallery__right-block {
    min-height: 400px;
  }

  .gallery__drop-list {
    margin-bottom: 106px;
  }

  .gallery__checkbox {
    margin-bottom: 35px;
  }

  .pages {
    margin-left: 0;
  }

  .swiper-slide {
    /* height: 315px; */
  }

  /* catalog */
  .catalog__content {
    max-width: 100%;
  }

  .catalog__left-years {
    margin-bottom: 16px;
  }

  .catalog__left {
    min-width: 47.3%;
  }

  .catalog__left-description {
    max-width: 100%;
  }

  .catalog__drop {
    height: 435px;
  }

  .catalog-drop__wrap {
    display: none;
  }

  .catalog-drop__descr:not(:last-child) {
    margin-right: 55px;
  }

  .catalog__right {
    min-width: 47.3%;
  }

  /* events */
  .events {
    margin-bottom: 122px;
  }

  .events__card:not(:last-child) {
    margin-right: 27px;
  }

  .events-card__body {
    padding: 14px 33px;
    padding-bottom: 46.5px;
  }

  .events-card__img .card-body__wrap {
    margin-bottom: 23px;
  }

  .events-card__img {
    min-height: 200px;
  }

  .card-body__list {
    text-align: right;
    flex-direction: column;
    display: flex;
    margin-bottom: 4.5px;
  }

  .card-body__wrap {
    margin-bottom: 21px
  }

  .card-body__wrap-head {
    max-width: 100%;
    margin-bottom: 5px;
  }

  /* project */
  .project__content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .partners__btn {
    margin-top: 4px;
  }

  .partners__btn-left {
    margin-right: 23px;
  }

  .partners__btn-right {
    margin-left: 23px;
  }

  .partners__item {
    width: 384px;
    height: 128px;
  }

  .partners__item:nth-child(2) {
    margin-right: 0;
  }

  .partners__item:last-child {
    display: none;
  }

  .project__partners__href .partners__freelands {
    width: 210px;
    height: 52px;
  }

  .project__partners__href .partners__ica {
    width: 283px;
    height: 49px;
  }

  /* contacts */
  .contacts {
    padding: 44px 0;
  }

  .contacts__container {
    display: block;
  }

  .contacts__wrap {
    margin-bottom: 30px;
  }

  .contacts__head {
    margin-bottom: 10px;
  }

  .contacts__address {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__form {
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 34px;
  }

  .form__wrap {
    width: 60%;
    margin-right: 20px;
  }

  .form__input {
    margin-right: 0;
  }

  .form__input:not(:last-child) {
    margin-right: 20px;
  }

  .form__btn {
    padding: 11px 40px;
  }

  .social__wrap a:not(:last-child) {
    margin-right: 14px;
  }

  /* footer */
  .footer {
    padding: 40px 0;
  }

  .footer__logo {
    margin-left: 1px;
    margin-top: -3px;
  }

  .footer-social__vk {
    width: 60px;
    height: 60px;
  }

  .footer-social__ok {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 768px) {

  /* header */
  .header__logo {
    width: 187.6px;
    height: 40px;
  }

  .header__search svg {
    width: 25px;
    height: 25px;
  }

  /* main */
  .main {
    background-image: url(../img/main/size-768/main-background-img_1_768.png);
  }

  .main__content-content {
    max-width: 100%;
  }

  .about-us__content {
    width: 150%;
  }

  /* gallery */
  .gallery {
    background-image: url(../img/main/size-768/gallery-background-img_768.png);
  }

  .gallery__container {
    display: block;
    min-height: auto;
  }

  .gallery__left-block {
    margin-bottom: 15px;
    width: 42%;
  }

  .gallery__drop-list {
    margin-bottom: 40px;
  }

  .gallery__checkbox {
    position: relative;
    margin: 0;
  }

  .pages {
    margin-left: 0;
  }

  .swiper-slide {
    height: 330px;
  }

  /* catalog */
  .catalog {
    margin-bottom: 80px;
  }

  .catalog__content {
    margin-bottom: 20px;
  }

  .catalog__wrap {
    flex-direction: column-reverse;
  }

  .card-body__wrap {
    margin-bottom: 24px;
  }

  .catalog__left {
    margin-right: 0;
  }

  .catalog__left-img {
    margin-bottom: 20px;
  }

  .catalog__left-years {
    margin-bottom: 8px;
  }

  .catalog__list {
    margin-bottom: 49px;
  }

  .catalog__drop {
    height: 335px;
  }

  /* events */
  .events-card {
    width: 50%;
  }

  .events__card:last-child {
    display: none;
  }

  .events__card:not(:last-child) {
    margin-right: 35px;
  }

  .events__card:nth-child(2) {
    margin-right: 0;
  }

  .events-card__img {
    min-height: 200px;
  }

  .events-card__body {
    padding: 14px 18px 45px 34px;
  }

  .card-body__wrap-head {
    max-width: 95%;
  }

  .card-body__wrap-text {
    max-width: 95%;
    margin-bottom: 30px;
  }

  /* project */
  .project__content {
    max-width: 100%;
    margin-bottom: 28px;
  }

  .partners__head {
    margin-bottom: 29px;
  }

  .partners__item {
    max-width: 263.8px;
    max-height: 106px;
  }

  .partners__item:first-child {
    margin-right: 34px;
  }

  .partners__freelands {
    min-width: 210px;
    min-height: 52px;
  }

  .partners__ica {
    max-width: 217px;
    max-height: 38px;
  }

  /* contacts */
  .contacts {
    padding-bottom: 41px;
  }

  .contacts__wrap {
    margin-bottom: 30px;
  }

  .contacts__head {
    margin-bottom: 11px;
  }

  .contacts__form {
    display: block;
    margin-bottom: 33px;
  }

  .form__wrap {
    width: 100%;
    margin-bottom: 12px;
  }

  .form__input:last-child {
    margin-right: 0;
  }

  .form__btn {
    padding: 10px 29px;
  }

  .social__wrap a:not(:last-child) {
    margin-right: 14px;
  }

  /* footer */
  .footer {
    padding: 43px 0;
  }

  .footer-social__vk {
    width: 60px;
    height: 60px;
  }

  .footer-social__ok {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 320px) {

  .container {
    padding: 0 15px;
  }

  /* header */
  .header {
    padding: 12px 0;
  }

  .burger {
    width: 25px;
    height: 21px;
  }

  .burger__line {
    height: 2px;
  }

  .burger__line:nth-child(1) {
    width: 25px;
    transform: translateY(-9.5px);
  }

  .burger__line:nth-child(2) {
    width: 16px;
    transform: translateY(-1.5px);
  }

  .burger__line:nth-child(3) {
    width: 10px;
    transform: translateY(6.5px);
  }

  .header__href img {
    height: 21px;
  }

  .header__search svg {
    width: 17px;
  }

  .header__search {
    height: 21px;
    display: flex;
    align-items: end;
  }

  /* main */
  .main {
    background-image: url(../img/main/size-320/main-background-img_1_320.png);
  }

  .main__content {
    padding: 30px 0;
    padding-bottom: 35.5px;
  }

  .main__content-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .main__content-head {
    max-width: 100%;
    margin-bottom: 2px;
    font-size: 32px;
    line-height: 44px;
  }

  .main__content-content {
    max-width: 84%;
    margin-bottom: 41px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .main__content-btn {
    padding: 12px 19px;
    font-size: 12px;
    line-height: 16px;
  }

  /* about-us */
  .about-us {
    padding: 50px 0;
    padding-bottom: 42px;
  }

  .about-us__head {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }

  .about-us__content {
    max-width: 96%;
    font-size: 14px;
    line-height: 28px;
  }

  /* gallery */
  .gallery {
    padding: 50px 0;
    padding-bottom: 21px;
    background-image: url(../img/main/size-320/gallery-background-img_320.png);
    background-position: center;
  }

  .gallery__head {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__filter {
    margin-bottom: 5px;
  }

  .gallery__drop-list {
    margin-bottom: 30px;
  }

  .checkbox__list {
    width: max-content;
    margin-bottom: 30px;
  }

  .gallery__right-block {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .gallery__pages {
    justify-content: center;
    margin-bottom: 28px;
  }

  .pages__count {
    margin-right: 22px;
  }

  .pages__preview {
    margin-right: 16px;
    padding: 4.5px 11.5px;
  }

  .pages__next {
    padding: 4.5px 11.5px;
  }

  .gallery__left-block {
    width: 100%;
  }

  .swiper-wrapper {
    margin-bottom: 19.5px;
  }

  .swiper-slide {
    height: 367px;
  }

  /* catalog */
  .catalog {
    padding: 50px 0;
    margin: 0;
  }

  .catalog__header {
    margin-bottom: 11px;
    font-size: 28px;
    line-height: 38px;
  }

  .catalog__content {
    display: none;
  }

  .catalog__list {
    margin-bottom: 40px;
  }

  .catalog__item {
    padding-top: 21px;
    padding-bottom: 20px;
  }

  .catalog__item-btn {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__item-svg {
    width: 30px;
  }

  .catalog__drop {
    height: 807px;
  }

  .catalog__left-head {
    margin-bottom: 7px;
  }

  .catalog__left-years {
    margin-bottom: 13px;
  }

  /* events */
  .events {
    margin-bottom: 80px;
  }

  .events__head {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .events__card:not(:last-child) {
    width: 100%;
    margin: 0;
  }

  .events__card:nth-child(2) {
    display: none;
  }

  .events-card__body {
    padding: 17px 18px 47px 22px
  }

  .card-body__list {
    margin-bottom: 11px;
  }

  .card-body__wrap {
    margin-bottom: 18px;
  }

  .card-body__wrap-head {
    margin-bottom: 4px;
  }

  .card-body__detail {
    margin-left: 6px;
  }

  /* projects */
  .project {
    margin-bottom: 6px;
  }

  .project__head {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .project__content {
    margin-bottom: 51px;
  }

  .partners__head {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
  }

  .partners__btn {
    margin-top: 2px;
  }

  .partners__btn-left {
    margin-right: 17px;
  }

  .partners__btn-right {
    margin-left: 18px;
  }

  .partners__item {
    max-width: 194.8px;
    max-height: 65px;
  }

  .partners__item:first-child {
    margin-right: 0;
  }

  .partners__item:nth-child(2) {
    display: none;
  }

  .partners__href .partners__freelands {
    background-size: 50%;
  }

  .partners__freelands {
    width: 100%;
    height: 100%;
  }

  /* contacts */
  .contacts {
    padding-bottom: 20px;
    border: none;
  }

  .contacts__wrap {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts__head {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__form {
    margin-bottom: 20px;
  }

  .form__wrap {
    flex-direction: column;
    margin-bottom: 20.5px;
  }

  .form__input {
    padding: 8.5px 23px;
  }

  .form__btn {
    padding: 10px 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .form__input:first-child {
    margin-bottom: 20px;
  }

  .social__context {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 32px;
  }

  .social__wrap a:not(:last-child) {
    margin-right: 15.5px;
  }

  .social__whatsapp {
    width: 50px;
    height: 50px;
  }

  .social__telegram {
    width: 50px;
    height: 50px;
  }

  /* map */
  .map__wrap {
    height: 320px;
  }

  /* footer */
  .footer {
    padding: 23px 0;
    padding-bottom: 20px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__social {
    margin-bottom: 23px;
  }

  .footer-social__vk {
    width: 50px;
    height: 50px;
  }

  .footer-social__ok {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 97px;
  }
}