html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'), local('OpenSans'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'), local('OpenSans'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'), local('OpenSans'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-purple-1: #D1A9F0;
  --c-purple-2: #C283F3;
  --c-purple-3: #9D5CD0;
  --c-purple-4: #7943A4;
  --animation-time: .1s;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
}

/* glob */
.container {
  max-width: 100%;
  margin: auto;
  padding: 0 160px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
}

.flex {
  display: flex;
}

/* header */
.header {
  padding: 30px 0;
  background-color: var(--c-black);
}

.header__container {
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
}

.header__href {
  min-width: max-content;
}

.header__nav {
  align-items: center;
  justify-content: space-between;
  width: 78%;
}

.nav__list {
  justify-content: space-between;
  width: 60.5%;
  min-width: 600px;
}

.nav__link {
  font-weight: 600;
  color: var(--c-white);
  transition:
    color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out;
}

.nav__link:focus {
  background-color: var(--c-purple-4);
}

.nav__link:hover {
  color: var(--c-purple-2);
  background-color: transparent;
}

.nav__link:active {
  color: var(--c-purple-4);
}

.header__login {
  margin-right: -7px;
  min-width: max-content;
  padding: 7px 6px;
  color: var(--c-white);
  transition:
    color var(--animation-time),
    background-color var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.header__login svg {
  width: 14px;
  height: 13px;
  margin-right: 6px;
  fill: var(--c-white);
  transition: fill var(--animation-time) ease-in-out;
}

.header__login:focus {
  background-color: var(--c-purple-4);
}

.header__login:hover {
  color: var(--c-purple-2);
  background-color: transparent;
}

.header__login:hover svg {
  fill: var(--c-purple-2);
}

.header__login:active {
  color: var(--c-purple-4);
}

.header__login:active svg {
  fill: var(--c-purple-4);
}

.header__search {
  display: none;
}

.header__search svg {
  fill: var(--c-white);
  transition: fill var(--animation-time) ease-in-out;
}

.header__search:focus svg {
  fill: var(--c-purple-3);
}

.header__search:hover svg {
  fill: var(--c-purple-3);
}

.header__search:active svg {
  fill: var(--c-purple-4);
}

/* main */
.main__container {
  position: relative;
  height: max-content;
  overflow: hidden;
}

.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__menu {
  position: relative;
  top: 0;
  z-index: 2;
  padding: 22.5px 0;
  background: rgba(0, 0, 0, 0.5);
}

.main__menu-container {
  justify-content: space-between;
  align-items: center;
}

.main__menu-list {
  justify-content: space-between;
  width: 64.7%;
  min-width: 800px;
}

.main__menu-item {
  position: relative;
}

.main__menu-item.open .main__menu-wrap {
  opacity: 1;
  visibility: visible;
}

.main__menu-link {
  align-items: center;
  color: var(--c-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  transition:
    color var(--animation-time),
    background-color var(--animation-time);
}

.main__menu-svg {
  margin-top: 2px;
  margin-left: 4px;
  stroke: var(--c-white);
  transition:
    stroke var(--animation-time),
    transform .5s;
}

.main__menu-item.open .main__menu-svg {
  transform: rotate(180deg);
}

.main__menu-link:focus {
  background-color: var(--c-purple-4);
}

.main__menu-link:hover {
  color: var(--c-purple-3);
  background-color: transparent;
}

.main__menu-link:hover .main__menu-svg {
  stroke: var(--c-purple-3);
}

.main__menu-link:active {
  color: var(--c-purple-4);
}

.main__menu-link:active .main__menu-svg {
  stroke: var(--c-purple-4);
}

.main__menu-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 22.5px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.main__menu-window {
  width: 300px;
  height: 300px;
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.5);
}

.main__menu-submenu {
  height: 210px;
  padding: 0 40px;
}

.main-menu__submenu-link {
  display: block;
  position: relative;
  padding: 9px 14px;
  color: var(--c-white);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition:
    background-image var(--animation-time);
}

.main-menu__submenu-link:not(:last-child) {
  margin-bottom: 20px;
}

.main-menu__submenu-link:focus {
  outline: 2px solid var(--c-purple-3);
  outline-offset: -2px;
}

.main-menu__submenu-link:hover {
  outline: 2px solid var(--c-purple-3);
  outline-offset: -2px;
}

.main-menu__submenu-link:active {
  outline: none;
}

.main-menu__submenu-link:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  z-index: 1;
}

.simplebar-scrollbar::before {
  width: 2px;
  background-color: var(--c-white);
  border-radius: 0;
}

.simplebar-track {
  right: 20px;
  background-color: #000;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
}

.simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.simplebar-content-wrapper {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: initial;
  width: initial;
  height: initial;
}

.main-menu__submenu-tintoretto {
  background-image: url(../img/main/drop-list-realizm-tintoretto.png);
}

.main-menu__submenu-friedrich {
  background-image: url(../img/main/drop-list-realizm-friedrich.png);
}

.main-menu__submenu-leonardo {
  background-image: url(../img/main/drop-list-realizm-leonardo.png);
}

.main-menu__submenu-verrocchio {
  background-image: url(../img/main/drop-list-realizm-verrocchio.png);
}

.main-menu__submenu-mone {
  background-image: url(../img/main/drop-list-realizm-mone.png);
}

.main-menu__submenu-sisley {
  background-image: url(../img/main/drop-list-realizm-sisley.png);
}

.main-menu__submenu-mane {
  background-image: url(../img/main/drop-list-realizm-mane.png);
}

.main-menu__submenu-renuar {
  background-image: url(../img/main/drop-list-realizm-renuar.png);
}

.main-menu__submenu-van_gogh {
  background-image: url(../img/main/drop-list-realizm-van_gogh.png);
}

.main-menu__submenu-cezanne {
  background-image: url(../img/main/drop-list-realizm-cezanne.png);
}

.main-menu__submenu-gauguin {
  background-image: url(../img/main/drop-list-realizm-gauguin.png);
}

.main-menu__submenu-sera {
  background-image: url(../img/main/drop-list-realizm-sera.png);
}

.main-menu__submenu-kandinsky {
  background-image: url(../img/main/drop-list-realizm-kandinsky.png);
}

.main-menu__submenu-marinette {
  background-image: url(../img/main/drop-list-realizm-marinette.png);
}

.main-menu__submenu-malevich {
  background-image: url(../img/main/drop-list-realizm-malevich.png);
}

.main-menu__submenu-picasso {
  background-image: url(../img/main/drop-list-realizm-picasso.png);
}

.main-menu__submenu-carra {
  background-image: url(../img/main/drop-list-realizm-carra.png);
}

.main-menu__submenu-pratella {
  background-image: url(../img/main/drop-list-realizm-pratella.png);
}

.main-menu__submenu-severini {
  background-image: url(../img/main/drop-list-realizm-severini.png);
}

.main-menu__submenu-balla {
  background-image: url(../img/main/drop-list-realizm-balla.png);
}

.main__search-wrap {
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.main__search-input {
  margin-left: 9px;
  margin-bottom: 1px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
  transition: border-bottom .2s ease-in-out;
}

.main__search-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.main__search-input:focus {
  outline: none;
  border-bottom: 1px solid var(--c-purple-4);
}

.main__search-input:focus::placeholder {
  visibility: hidden;
}

.main__search-input:hover {
  border-bottom: 1px solid var(--c-purple-2);
}

.main__search-input:active {
  border-bottom: 1px solid var(--c-purple-4);
}

.main__content {
  position: relative;
  top: 0;
  z-index: 1;
  pointer-events: none;
  padding: 63px 0;
}

.main__content-head {
  margin-bottom: -3px;
  max-width: 50%;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--c-white);
}

.main__content-content {
  margin-bottom: 92px;
  max-width: 34%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--c-white);
}

.main__content-btn {
  margin-bottom: 59px;
  padding: 22.5px 35px;
  pointer-events: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background: var(--c-purple-3);
  border-radius: 100px;
  color: var(--c-white);
  transition:
    outline var(--animation-time) ease-in-out,
    outline-offset var(--animation-time) ease-in-out;
}

.main__content-btn:focus {
  outline: 2px solid var(--c-purple-1);
  outline-offset: 3px;
}

.main__content-btn:hover {
  outline: 2px solid var(--c-purple-1);
  outline-offset: 0;
}

.main__content-btn:active {
  outline: 2px solid var(--c-purple-1);
  background-color: var(--c-purple-4);
  outline-offset: 0;
}

/* about us */
.about-us {
  padding: 80px 0 70px;
}

.about-us__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.about-us__content {
  max-width: 67%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* gallery */
.gallery {
  padding: 80px 0;
  /* padding-bottom: 74px; */
  background-image: url(../img/main/gallery-background-img_1920.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery__container {
  position: relative;
  min-height: 270px;
}

.gallery__left-block {
  width: 52.2%;
  margin-right: 50px;
}

.gallery__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--c-white);
}

.gallery__filter {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-white);
}

.choices__inner {
  padding: 2px 15px;
  min-height: auto;
  border: none;
  border: 1px solid var(--c-white);
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  transition: background-color var(--animation-time) ease-in-out;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 4px;
}

.choices__list--single {
  padding: 0;
}

.is-focused .choice__inner,
.is-open .choices__inner {
  padding: 2px 15px;
  min-height: auto;
  border: none;
  border: 1px solid var(--c-white);
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 46%;
  right: 16px;
  border: 1px solid var(--c-white);
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
  transition: transform .2s ease-in-out;
}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid var(--c-white);
  border-width: 0 0 1px 1px;
  transform: rotate(135deg);
  transition: transform .2s ease-in-out;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown.is-active {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #999999;
  border-radius: 6px;
  color: #999999;
}

.choices__list--dropdown .choices__item--selectable:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--c-white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__checkbox {
  position: absolute;
  bottom: 0px;
}

.checkbox__input {
  display: none;
}

.swiper-slide {
  width: 100%;
  height: auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.swiper__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__wrap {
  height: auto;
}

.gallery__img {
  max-height: 367px;
}

.gallery__href:focus .gallery__img {
  outline: 3px solid var(--c-purple-4);
  outline-offset: -3px;
}

.gallery__href:focus-visible {
  outline: none;
}

.modal__window {
  min-width: 885px;
  background-color: var(--c-white);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.modal__img {
  object-fit: cover;
}

.modal__right {
  padding: 121px 50px;
}

.modal__author {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.modal__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.modal__years {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.modal__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.modal__close {
  background-image: none;
  top: 20px;
  right: 20px;
  transition: fill var(--animation-time) ease-in-out;
}

.modal__close:hover path {
  fill: var(--c-purple-3);
}

.modal__close:hover path {
  fill: var(--c-purple-4);
}

.hystmodal__close:focus {
  outline: none;
}

.checkbox__input+.checkbox__text::before {
  content: '';
  display: inline-block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--c-white);
  transition: border-color var(--animation-time) ease-in-out;
}

.checkbox__input:checked+.checkbox__text::before {
  border-color: var(--c-purple-2);
  background-image: url(../img/main/Gallery_checkbox_select.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 4px;
}

.checkbox__input:hover+.checkbox__text::before {
  border-color: var(--c-purple-2);
}

.checkbox__text {
  color: var(--c-white);
  transition: color var(--animation-time) ease-in-out;
}

.checkbox__text:hover {
  color: var(--c-purple-2);
}

.checkbox__label {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-white);
}

.gallery__right-block {
  padding-top: 24px;
}

.pages {
  margin-left: 3px;
  margin-bottom: 29px;
  align-items: center;
}

.pages__preview {
  margin-right: 17px;
  padding: 5px 12px;
  background: #666;
  border-radius: 50%;
  transition: background-color var(--animation-time) ease-in-out;
}

.pages__preview svg {
  width: 7px;
  height: 12px;
}

.pages__preview:focus {
  background-color: #666;
  outline: 2px solid var(--c-black);
}

.pages__preview:hover {
  background-color: var(--c-purple-3);
}

.pages__preview:active {
  background-color: var(--c-purple-4);
}

.pages__count {
  width: max-content;
  margin-right: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-white);
}

.pages__next {
  padding: 5px 12px;
  background: #666;
  border-radius: 50%;
  transition:
    background-color var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.pages__next svg {
  width: 7px;
  height: 12px;
}

.pages__next:focus {
  background-color: #666;
  outline: 2px solid var(--c-black);
}

.pages__next:hover {
  background-color: var(--c-purple-3);
}

.pages__next:active {
  background-color: var(--c-purple-4);
}

/* catalog */
.catalog {
  padding-top: 80px;
  margin-bottom: 80px;
}

.catalog__header {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.catalog__content {
  max-width: 68%;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.catalog__left {
  min-width: 45%;
  margin-right: 50px;
}

.catalog__left-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 31px;
}

.catalog__left-head {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.catalog__left-years {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog__left-description {
  max-width: 95%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.catalog__right {
  min-width: 50%;
}

.catalog__item:not(:first-child) {
  margin-top: -2px;
}

.catalog__item .catalog__item-wrap {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  margin: 0;
  align-items: center;
  font: unset;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  border: 1px solid transparent;
  border-bottom-color: #CACACA;
  transition:
    border-color var(--animation-time) ease-in-out,
    color var(--animation-time) ease-in-out;
}

.catalog__item:first-child .catalog__item-wrap {
  border-top-color: #CACACA;
}

.catalog__item-title {
  transition:
    background-color var(--animation-time);
}

.catalog__item .catalog__item-wrap:focus .catalog__item-title {
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.catalog__item .catalog__item-wrap:focus .catalog__item-svg path {
  fill: var(--c-purple-1);
}

.catalog__item .catalog__item-wrap:hover {
  border-top-color: var(--c-purple-3);
  border-bottom-color: var(--c-purple-3);
  color: var(--c-purple-3);
}

.catalog__item .catalog__item-wrap:hover .catalog__item-title {
  background-color: transparent;
  color: var(--c-purple-3);
}

.catalog__item .catalog__item-wrap:hover .catalog__item-svg path {
  fill: var(--c-purple-1);
}

.catalog__item .catalog__item-wrap:active {
  border-top-color: var(--c-purple-4);
  border-bottom-color: var(--c-purple-4);
}

.catalog__item .catalog__item-wrap:active .catalog__item-title {
  background-color: transparent;
  color: var(--c-purple-4);
}

.catalog__item-svg {
  transition: transform .5s;
}

.catalog__item-svg path {
  transition: fill var(--animation-time);
}

.catalog__item .catalog__item-title:hover .catalog__item-svg path {
  fill: var(--c-purple-1);
}

.ac .ac-trigger::after {
  content: none;
}

.ac {
  margin-top: 0;
  border: none;
  background-color: transparent;
}

.is-active .catalog__item-wrap {
  border-top-color: var(--c-purple-4);
  border-bottom-color: var(--c-purple-4);
}

.is-active.catalog__item.catalog__item .catalog__item-title {
  color: var(--c-purple-4);
  background-color: transparent;
}

.is-active.catalog__item:first-child .catalog__item-wrap {
  border-top-color: var(--c-purple-4);
}

.is-active .catalog__item-svg path {
  fill: var(--c-purple-1);
}

.is-active .catalog__item-svg {
  transform: rotate(180deg);
}

.is-active .catalog__item-svg path:first-child {
  border-radius: 50%;
  outline-offset: -2px;
  outline: 2px solid var(--c-purple-4);
}

.catalog__item-svg {
  display: block;
  flex-shrink: 0;
  margin-left: 20px;
}

.catalog__drop {
  border-bottom: 1px solid #CACACA;
}

.catalog-drop__wrap {
  padding: 25px 0;
}

.catalog-drop__artists {
  flex-direction: column;
  column-gap: 0;
  column-count: 3;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: #333;
}

.catalog-drop__item p {
  max-width: max-content;
  border-bottom: 1px solid transparent;
  transition:
    border var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out;
}

.catalog-drop__item:focus p {
  background-color: var(--c-purple-3);
}

.catalog-drop__item:hover p {
  border-bottom: 1px solid var(--c-purple-3);
  background-color: transparent;
}

.catalog-drop__item:active p {
  color: var(--c-purple-4);
  border-color: var(--c-purple-);
  background-color: transparent;
}

.catalog-drop__left {
  width: 35%;
  padding: 12px;
  margin-right: 24px;
  border: 2px solid #999;
}

.catalog-drop__left div {
  width: 100%;
  height: 100%;
  background-color: #999;
}

.catalog-drop__right {
  padding: 30px 0;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-drop__header {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.catalog-drop__content {
  margin-bottom: 5px;
  max-width: 55%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.catalog-drop__href {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--c-purple-3);
  transition:
    color var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.catalog-drop__href:focus {
  outline: 1px solid var(--c-purple-3);
  outline-offset: 3px;
}

.catalog-drop__href:hover {
  color: var(--c-purple-4);
  outline: none;
}

.catalog-drop__href:active {
  color: #333;
  outline: none;
}

/* events */
.events {
  margin-bottom: 80px;
}

.events__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.events-card__wrap {
  flex-direction: column;
  height: 100%;
}

.events-card__body {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 13px 50px;
  padding-bottom: 39px;
  border: 1px solid #CACACA;
  border-top: none;
}

.card-body__wrap {
  margin-bottom: 64px;
}

.card-body__list {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.card-body__wrap-head {
  max-width: 85%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.card-body__wrap-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.card-body__detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-purple-3);
  border-bottom: 1px solid var(--c-purple-3);
}

.card-body__detail:focus {
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.card-body__detail:hover {
  color: var(--c-purple-4);
  border-color: var(--c-purple-4);
  background-color: transparent;
}

.card-body__detail:active {
  color: #333;
  border-color: #333;
}

.events__btn-wrap {
  position: relative;
}

.events__btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 46.4%;
  z-index: 2;
  border-radius: 50%;
  transition:
    fill var(--animation-time) ease-in-out;
}

.events__btn:focus {
  outline: 2px solid var(--c-purple-3);
}

.events__btn:hover path {
  fill: var(--c-purple-1);
  outline: none;
}

.events__btn:active {
  outline: 2px solid var(--c-purple-3);
}

.events__btn:active path {
  fill: var(--c-purple-2);
}

.events__btn-prev {
  left: -25px;
}

.events__btn-prev {
  transform: rotate(180deg);
}

.events__btn-next {
  right: -25px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6%;
}

.events__btn--hidden {
  display: none;
}

/* project */
.project {
  margin-bottom: 80px;
}

.project__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.project__content {
  max-width: 67%;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.project__content-svg {
  cursor: pointer;
  fill: #fff;
  transition: fill var(--animation-time) ease-in-out;
}

.project__content-svg:hover {
  fill: var(--c-purple-1);
}

.project__content-svg:active {
  fill: var(--c-purple-3);
}

.project__content-href {
  padding: 2px 4px;
  color: var(--c-purple-3);
  transition: color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out,
    border var(--animation-time) ease-in-out;
}

.project__content-href:focus {
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.project__content-href:hover {
  margin-left: 4px;
  padding: 2px 0;
  color: var(--c-purple-3);
  background-color: transparent;
  border-bottom: 1px solid var(--c-purple-3);
}

.project__content-href:active {
  color: var(--c-purple-4);
  border-color: var(--c-purple-4);
}

.partners__head {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.partners__wrap {
  align-items: center;
}

.partners__btn {
  margin-top: 3px;
}

.partners__btn-left {
  margin-right: 45px;
}

.partners__btn-right {
  margin-left: 45px;
}

.partners__svg {
  transition: outline var(--animation-time) ease-in-out;
}

.partners__svg path {
  fill: #ECECEC;
  transition: fill var(--animation-time) ease-in-out;
}

.partners__svg:focus {
  border-radius: 50%;
  outline: 2px solid var(--c-purple-3);
}

.partners__svg:hover path {
  fill: var(--c-purple-1);
}

.partners__svg:hover {
  outline: none;
}

.partners__svg:active {
  fill: var(--c-purple-1);
  border-radius: 50%;
  outline: 2px solid var(--c-purple-3);
}

.partners__item {
  width: 450px;
  height: 150px;
}

.partners__href {
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #CACACA;
  transition: border var(--animation-time) ease-in-out;
}

.partners__href:focus {
  border-color: var(--c-purple-3);
}

.partners__href:hover {
  border-color: #CACACA;
}

.partners__href:active {
  border-color: var(--c-purple-3);
}

.partners__href .partners__freelands {
  background-image: url(../img/main/project-partners_1_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 74%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__freelands {
  background-image: url(../img/main/project-partners_1.png);
}

.partners__href .partners__ica {
  background-image: url(../img/main/project-partners_2_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 74%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__ica {
  background-image: url(../img/main/project-partners_2.png);
}

.partners__href .partners__workhouse {
  background-image: url(../img/main/project-partners_3_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 51%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__workhouse {
  background-image: url(../img/main/project-partners_3.png);
}

.partners__href .partners__wine {
  background-image: url(../img/main/project-partners_4_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__wine {
  background-image: url(../img/main/project-partners_4.png);
}

.partners__href .partners__hiscox {
  background-image: url(../img/main/project-partners_5_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__hiscox {
  background-image: url(../img/main/project-partners_5.png);
}

.partners__href .partners__camden {
  background-image: url(../img/main/project-partners_6_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__camden {
  background-image: url(../img/main/project-partners_6.png);
  background-position: center;
  background-repeat: no-repeat;
}

.partners__href .partners__stassen {
  background-image: url(../img/main/project-partners_7_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__stassen {
  background-image: url(../img/main/project-partners_7.png);
}

.partners__href .partners__watts {
  background-image: url(../img/main/project-partners_8_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__watts {
  background-image: url(../img/main/project-partners_8.png);
}

.partners__href .partners__esad {
  background-image: url(../img/main/project-partners_9_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__esad {
  background-image: url(../img/main/project-partners_9.png);
}

/* contacts */
.contacts {
  padding: 40px 0;
  padding-bottom: 37px;
  border: 1px solid #CACACA;
}

.contacts__container {
  align-items: center;
}

.contacts__wrap {
  margin-right: 80px;
}

.contacts__head {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}

.contacts__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.contacts__form {
  align-items: center;
  margin-right: 82px;
}

/* .form__wrap {
  width: 83%;
} */

.form__input {
  /* min-width: 270px; */
  width: 100%;
  margin-right: 20px;
  padding: 14px 23px;
  border: 1px solid #333;
  border-radius: 100px;
}

.form__input:focus-visible {
  background-color: #ECECEC;
  outline: none;
}

.form__input:hover {
  background-color: #ECECEC;
}

.form__btn {
  padding: 11px 33px;
  border: 2px solid var(--c-purple-3);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--c-purple-3);
  transition:
    color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.form__btn:focus {
  outline: 2px solid var(--c-purple-1);
  outline-offset: 3px;
}

.form__btn:hover {
  outline: none;
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.form__btn:active {
  color: var(--c-white);
  outline: none;
  border-color: var(--c-purple-1);
  background-color: var(--c-purple-4);
}

.social__context {
  margin-bottom: 10px;
  padding-top: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #333;
}

.social__wrap a:not(:last-child) {
  margin-right: 17px;
}

.social__href {
  transition:
    opacity var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.social__href:focus {
  opacity: 0.7;
}

.social__href:hover {
  opacity: 0.7;
}

.social__href:active {
  opacity: 1;
}

.social__href:active svg {
  border-radius: 50%;
  outline-offset: -1px;
  outline: 1px solid var(--c-purple-3);
}

.social__whatsapp {
  width: 40px;
  height: 40px;
  fill: #30BF39;
}

.social__telegram {
  width: 40px;
  height: 40px;
  fill: #26A5E4;
}

/* map */
.map {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.map__wrap {
  width: 100%;
  height: 700px;
}

/* footer */
.footer {
  padding: 50px 0;
  background-color: #000;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__href {
  margin-bottom: 3px;
}

.footer__social {
  margin-top: -4px;
}

.footer-social__href svg {
  fill: #CACACA;
  transition: fill var(--animation-time) ease-in-out;
}

.footer-social__href:focus svg {
  fill: var(--c-white);
}

.footer-social__href:hover svg {
  fill: var(--c-white);
}

.footer-social__href:active svg {
  fill: var(--c-purple-3);
}

.footer-social__vk {
  margin-right: 20px;
  width: 45px;
  height: 45px;
}

.footer-social__ok {
  width: 45px;
  height: 45px;
}