html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'), local('OpenSans'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'), local('OpenSans'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'), local('OpenSans'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-purple-1: #D1A9F0;
  --c-purple-2: #C283F3;
  --c-purple-3: #9D5CD0;
  --c-purle-4: #7943A4;
  --animation-time: .1s;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
}

/* glob */
.container {
  max-width: 100%;
  margin: auto;
  padding: 0 160px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
}

.flex {
  display: flex;
}

/* header */
.header {
  padding: 30px 0;
  background-color: var(--c-black);
}

.header__container {
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}

.header__href {
  margin-right: auto;
  min-width: max-content;
}

.header__nav {
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  padding: 2px 6px;
  font-weight: 600;
  color: var(--c-white);
  transition:
    color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out;
}

.nav__link:focus {
  background-color: var(--c-purle-4);
}

.nav__link:hover {
  color: var(--c-purple-2);
  background-color: var(--c-black);
}

.nav__link:active {
  color: var(--c-purle-4);
}

.header__login {
  min-width: max-content;
  margin-left: auto;
  margin-right: -7px;
  padding: 7px 6px;
  color: var(--c-white);
  transition:
    color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out;
}

.header__login svg {
  margin-right: 6px;
  fill: var(--c-white);
  transition: fill var(--animation-time) ease-in-out;
}

.header__login:focus {
  background-color: var(--c-purle-4);
}

.header__login:hover {
  color: var(--c-purple-2);
  background-color: var(--c-black);
}

.header__login:hover svg {
  fill: var(--c-purple-2);
}

.header__login:active {
  color: var(--c-purle-4);
}

.header__login:active svg {
  fill: var(--c-purle-4);
}

.header__search {
  display: none;
}

.header__search svg {
  fill: var(--c-white);
  transition: fill var(--animation-time) ease-in-out;
}

.header__search:focus svg {
  fill: var(--c-purple-3);
}

.header__search:hover svg {
  fill: var(--c-purple-3);
}

.header__search:active svg {
  fill: var(--c-purle-4);
}

/* main */
.main {
  background-image: url(../img/main/main-background-img_1_1920.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
}

.main__menu {
  padding: 23px 0;
  background: rgba(0, 0, 0, 0.5);
}

.main__menu-container {
  justify-content: space-between;
  align-items: center;
}

.main__menu-item:not(:last-child) {
  margin-right: 97px;
}

.main__menu-item {
  min-width: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 10px;
  color: var(--c-white);
}

.main__menu-item svg {
  margin-left: 4px;
}

.main__search-wrap {
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}

.main__search-input {
  margin-left: 9px;
  margin-bottom: 1px;
  min-width: 218px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
  transition: border-bottom .2s ease-in-out;
}

.main__search-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.main__search-input:focus {
  outline: none;
  border-bottom: 1px solid var(--c-purle-4);
}

.main__search-input:focus::placeholder {
  visibility: hidden;
}

.main__search-input:hover {
  border-bottom: 1px solid var(--c-purple-2);
}

.main__search-input:active {
  border-bottom: 1px solid var(--c-purle-4);
}

.main__content {
  padding: 63px 0;
}

.main__content-head {
  margin-bottom: -3px;
  max-width: 50%;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--c-white);
}

.main__content-content {
  margin-bottom: 92px;
  max-width: 34%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--c-white);
}

.main__content-btn {
  margin-bottom: 58.5px;
  padding: 22.5px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background: var(--c-purple-3);
  border-radius: 100px;
  color: var(--c-white);
  transition:
    outline var(--animation-time) ease-in-out,
    outline-offset var(--animation-time) ease-in-out;
}

.main__content-btn:focus {
  outline: 2px solid var(--c-purple-1);
  outline-offset: 3px;
}

.main__content-btn:hover {
  outline: 2px solid var(--c-purple-1);
  outline-offset: 0;
}

.main__content-btn:active {
  outline: 2px solid var(--c-purple-1);
  background-color: var(--c-purle-4);
  outline-offset: 0;
}

/* about us */
.about-us {
  padding: 80px 0 70px;
}

.about-us__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.about-us__content {
  max-width: 67%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* gallery */
.gallery {
  padding: 80px 0;
  background-image: url(../img/main/gallery-background-img_1920.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery__container {
  position: relative;
  min-height: 270px;
}

.gallery__left-block {
  width: 25%;
  margin-right: 50px;
}

.gallery__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--c-white);
}

.gallery__filter {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-white);
}

.gallery__drop-list-choice {
  width: -webkit-fill-available;
  padding: 7px 10px;
  border: none;
  border: 1px solid var(--c-white);
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.gallery__drop-list-choice::before {
  color: var(--c-purple-3);
}

.gallery__checkbox {
  position: absolute;
  bottom: 0px;
}

.checkbox__input {
  display: none;
}

.checkbox__input+.checkbox__text::before {
  content: '';
  display: inline-block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--c-white);
  transition: border-color var(--animation-time) ease-in-out;
}

.checkbox__input:checked+.checkbox__text::before {
  border-color: var(--c-purple-2);
  background-image: url(../img/main/Gallery_checkbox_select.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 4px;
}

.checkbox__input:hover+.checkbox__text::before {
  border-color: var(--c-purple-2);
}

.checkbox__text {
  color: var(--c-white);
  transition: color var(--animation-time) ease-in-out;
}

.checkbox__text:hover {
  color: var(--c-purple-2);
}

.checkbox__label {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-white);
}

.gallery__right-block {
  padding-top: 24px;
}

.pages {
  margin-left: 3px;
  margin-bottom: 29px;
  align-items: center;
}

.pages__preview {
  margin-right: 17px;
  padding: 5px 12px;
  background: #666;
  border-radius: 50%;
  transition: background-color var(--animation-time) ease-in-out;
}

.pages__preview svg {
  width: 7px;
  height: 12px;
}

.pages__preview:focus {
  background-color: #666;
  outline: 2px solid var(--c-black);
}

.pages__preview:hover {
  background-color: var(--c-purple-3);
}

.pages__preview:active {
  background-color: var(--c-purle-4);
}

.pages__count {
  margin-right: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-white);
}

.pages__next {
  padding: 5px 12px;
  background: #666;
  border-radius: 50%;
  transition:
    background-color var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.pages__next svg {
  width: 7px;
  height: 12px;
}

.pages__next:focus {
  background-color: #666;
  outline: 2px solid var(--c-black);
}

.pages__next:hover {
  background-color: var(--c-purple-3);
}

.pages__next:active {
  background-color: var(--c-purle-4);
}

.gallery__item:not(:last-child) {
  margin-right: 50px;
}

.gallery__image {
  height: auto;
  object-fit: cover;
}

/* catalog */
.catalog {
  padding-top: 80px;
  margin-bottom: 74px;
}

.catalog__header {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.catalog__content {
  max-width: 68%;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.catalog__left {
  min-width: 45%;
  margin-right: 50px;
}

.catalog__left-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 31px;
}

.catalog__left-head {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.catalog__left-years {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog__left-description {
  max-width: 95%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.catalog__right {
  min-width: 50%;
}

.catalog__item {
  position: relative;
  padding: 41px 0;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
}

.catalog__item:first-child {
  border-color: #CACACA;
}

.catalog__item-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.catalog__item-svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}

.catalog__drop {
  border-bottom: 1px solid #CACACA;
  height: 340px;
}

.catalog-drop__wrap {
  display: none;
  flex-wrap: wrap;
  margin-top: 25px;
  padding-bottom: 25px;
}

.catalog-drop__descr {
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.catalog-drop__descr:not(:last-child) {
  margin-right: 61px;
}

/* events */
.events {
  margin-bottom: 80px;
}

.events__card {
  width: 34.4%;
  max-width: 500px;
}

.events__card:not(:last-child) {
  margin-right: 50px;
}

.events__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.events-card__wrap {
  flex-direction: column;
  height: 100%;
}

.events-card__body {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 13px 50px;
  padding-bottom: 39px;
  border: 1px solid #CACACA;
  border-top: none;
}

.card-body__wrap {
  margin-bottom: 64px;
}

.card-body__list {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.card-body__wrap-head {
  max-width: 85%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.card-body__wrap-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.card-body__detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--c-purple-3);
  border-bottom: 1px solid var(--c-purple-3);
}

.card-body__detail:focus {
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.card-body__detail:hover {
  color: var(--c-purle-4);
  border-color: var(--c-purle-4);
  background-color: transparent;
}

.card-body__detail:active {
  color: #333;
  border-color: #333;
}

/* project */
.project {
  margin-bottom: 80px;
}

.project__head {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.project__content {
  max-width: 67%;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.project__content-svg {
  cursor: pointer;
  fill: #fff;
  transition: fill var(--animation-time) ease-in-out;
}

.project__content-svg:hover {
  fill: var(--c-purple-1);
}

.project__content-svg:active {
  fill: var(--c-purple-3);
}

.project__content-href {
  padding: 2px 4px;
  color: var(--c-purple-3);
  transition: color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out,
    border var(--animation-time) ease-in-out;
}

.project__content-href:focus {
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.project__content-href:hover {
  margin-left: 4px;
  padding: 2px 0;
  color: var(--c-purple-3);
  background-color: transparent;
  border-bottom: 1px solid var(--c-purple-3);
}

.project__content-href:active {
  color: var(--c-purle-4);
  border-color: var(--c-purle-4);
}

.partners__head {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.partners__wrap {
  align-items: center;
}

.partners__btn-left {
  margin-right: 45px;
}

.partners__btn-right {
  margin-left: 45px;
}

.partners__svg {
  transition: outline var(--animation-time) ease-in-out;
}

.partners__svg path {
  fill: #ECECEC;
  transition: fill var(--animation-time) ease-in-out;
}

.partners__svg:focus {
  border-radius: 50%;
  outline: 2px solid var(--c-purple-3);
}

.partners__svg:hover path {
  fill: var(--c-purple-1);
}

.partners__svg:hover {
  outline: none;
}

.partners__svg:active {
  fill: var(--c-purple-1);
  border-radius: 50%;
  outline: 2px solid var(--c-purple-3);
}

.partners__item {
  width: 450px;
  height: 150px;
}

.partners__item:not(:last-child) {
  margin-right: 50px;
}

.partners__href {
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #CACACA;
  transition: border var(--animation-time) ease-in-out;
}

.partners__href:focus {
  border-color: var(--c-purple-3);
}

.partners__href:hover {
  border-color: #CACACA;
}

.partners__href:active {
  border-color: var(--c-purple-3);
}

.partners__href .partners__freelands {
  background-image: url(../img/main/project-partners_1_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 244px;
  height: 63px;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__freelands {
  background-image: url(../img/main/project-partners_1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partners__href .partners__ica {
  background-image: url(../img/main/project-partners_2_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 330px;
  height: 59px;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__ica {
  background-image: url(../img/main/project-partners_2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.partners__href .partners__workhouse {
  background-image: url(../img/main/project-partners_3_gray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 229px;
  height: 53px;
  transition: background-image var(--animation-time) ease-in-out;
}

.partners__href:hover .partners__workhouse {
  background-image: url(../img/main/project-partners_3.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* contacts */
.contacts {
  padding: 40px 0;
  padding-bottom: 37px;
  border: 1px solid #CACACA;
}

.contacts__container {
  align-items: center;
}

.contacts__wrap {
  margin-right: 80px;
}

.contacts__head {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}

.contacts__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.contacts__form {
  align-items: center;
  margin-right: 80px;
}

.form__input {
  min-width: 270px;
  margin-right: 20px;
  padding: 14px 23px;
  border: 1px solid #333;
  border-radius: 100px;
}

.form__input:focus-visible {
  background-color: #ECECEC;
  outline: none;
}

.form__input:hover {
  background-color: #ECECEC;
}

.form__btn {
  padding: 11px 33px;
  border: 2px solid var(--c-purple-3);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--c-purple-3);
  transition: color var(--animation-time) ease-in-out,
    background-color var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.form__btn:focus {
  outline: 2px solid var(--c-purple-1);
  outline-offset: 3px;
}

.form__btn:hover {
  outline: none;
  color: var(--c-white);
  background-color: var(--c-purple-3);
}

.form__btn:active {
  color: var(--c-white);
  outline: none;
  border-color: var(--c-purple-1);
  background-color: var(--c-purle-4);
}

.social__context {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #333;
}

.social__wrap a:not(:last-child) {
  margin-right: 17px;
}

.social__href {
  transition:
    opacity var(--animation-time) ease-in-out,
    outline var(--animation-time) ease-in-out;
}

.social__href:focus {
  opacity: 0.7;
}

.social__href:hover {
  opacity: 0.7;
}

.social__href:active {
  opacity: 1;
}

.social__href:active svg {
  border-radius: 50%;
  outline-offset: -1px;
  outline: 1px solid var(--c-purple-3);
}

.social__whatsapp {
  fill: #30BF39;
}

.social__telegram {
  fill: #26A5E4;
}

/* map */
.map {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.map__wrap {
  width: 100%;
  height: 700px;
}

/* footer */
.footer {
  padding: 50px 0;
  background-color: #000;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  margin-top: -3px;
}

.footer-social__href svg {
  fill: #CACACA;
  transition: fill var(--animation-time) ease-in-out;
}

.footer-social__href:focus svg {
  fill: var(--c-white);
}

.footer-social__href:hover svg {
  fill: var(--c-white);
}

.footer-social__href:active svg {
  fill: var(--c-purple-3);
}

.footer-social__vk {
  margin-right: 20px;
  width: 45px;
  height: 45px;
}

.footer-social__ok {
  width: 45px;
  height: 45px;
}